
body {
	
}

.musicPlayer {
	position: relative;
	width: 350px;
	height: 305px;
	margin: 50px auto;
	background-color: #000;
	border-radius: 10px;
	box-shadow: 0 0 50px;

}

/*信息区*/
.musicPlayer .info {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.left,
.right {
	float: left;
	width: 20px;
	height: 40px;

}

.left {
	margin: 30px 0 0 30px;
}

.right {
	margin: 30px 30px 0 0 ;
}

#like,
#favorite,
#repeat,
#share {
	display: block;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}

.left #like {
	background: url(../images/like.png) no-repeat;
}
.left #favorite {
	background: url(../images/favorite.png) no-repeat;
}
.right #repeat {
	background: url(../images/repeat.png) no-repeat;
}
.right #share {
	background: url(../images/share.png) no-repeat;
}


.center {
	float: left;
	width: 250px;
	text-align: center;
	color: rgba(225, 225, 225, 0.4);
	margin: 25px 0;

}

.center a {
	display: block;
	overflow: hidden;
}

#song_name {
	margin-bottom: 10px;
	font-size: 30px;
	height: 36px;
}

/*播放进度条*/
#progress {
	width: 100%;
	height: 5px;
	background-color: #000;
	cursor: pointer;
}

#progress span {
	display: block;
	height: 100%;
	width: 0;
	background-color: #ed553b;
}

/*控制台*/
.controls {
	height: 200px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(152, 46, 75, 0.6);
	text-align: center;
	color: #966e79;
}

#time {
	width: 100%;
	height: 50px;
	padding: 20px 0;
	font-size: 50px;
}

.playControl {
	width: 100%;
	height: 50px;
}

.playControl a {
	display: inline-block;
	width: 35px;
	height: 40px;
	margin: 0 30px;
}

#previous {
	background: url(../images/previous.png) no-repeat center;
}
.pause {
	background: url(../images/pause.png) no-repeat center;
}
.start {
	background: url(../images/start.png) no-repeat center;
}
#next {
	background: url(../images/next.png) no-repeat center;
}

/*声音控制*/
.volumeControl {
	position: relative;
	width: 100%;
	height: 50px;
	margin-top: 15px;
}

.volumeControl a {
	display: inline-block;
	width: 20px;
	height: 20px;
}

#min_volume {
	position: absolute;
	top: 0;
	left: 55px;
	background: url(../images/min_volume.png) no-repeat center;
} 
#max_volume {
	position: absolute;
	top: 0;
	right: 55px;
	background: url(../images/max_volume.png) no-repeat center;
} 

#volume_bar {
	position: absolute;
	top: 9px;
	left: 80px;
	width: 180px;
	height: 2px;
	background-color: #8e5f68;
	cursor: pointer;
}
#volume_bar span {
	display: block;
	height: 2px;
	width: 40%;
	background-color: #ed553b;
}