
* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/1.5 "微软雅黑";
	
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.outer {
	width: 700px;
	margin: 50px auto;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 3px black;
	padding: 20px 10px;
	background-color: white;
}

/*搜索栏*/
.titleBar {
	height: 35px;
	margin-bottom: 15px;
}

.titleBar .title {
	float: left;
	height: 35px;
	padding-left: 20px;
	font-size: 20px;
}
.search {
	float: right;
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	margin-right: 20px;
	padding-left: 5px;
	font-size: 18px;
	overflow: hidden;

}
.submit {
	float: right;
	width: 50px;
	height: 30px;
}

/*五日预报*/
.fiveDay {
	list-style: none;
}

.oneDay {
	float: left;
	width: 136px;
	height: 250px;
	text-align: center;
	margin: 0 2px;
	background-color: #f2f9ff;
	font-size: 14px;

}
.oneDay:hover,
.condition li:hover,
li.lifeItem:hover {
	background-color: #fff;
}
.oneDay .date,
.oneDay .wea,
.oneDay .tem,
.oneDay .win,
.oneDay .winSpeed{
	margin-top: 20px;
}
.oneDay .date {
	font-size: 20px;
	font-weight: normal;
	line-height: 40px;
}

/*环境状况*/
.condition {
	list-style: none;
	margin-top: 5px;
}
.condition li {
	float: left;
	width: 33%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	margin: 1px;
	background-color: #daedff;

}

/*生活指数*/
.lifeTitle {
	border-bottom: 1px solid #e9e9e9;
	height: 30px;
	padding: 15px 0;
}
.lifeTitle span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 0 30px;
}

.life {
	padding: 5px 0;
	list-style: none;
}
.life .lifeItem {
	position: relative;
	float: left;
	width: 230px;
	height: 150px;
	background-color: #daedff;
	margin: 1px;
	color: #3d8fcb;
}

.lifeItem i,
.lifeItem h3,
.lifeItem span,
.lifeItem p {
	position: absolute;
	display: block;
	overflow: hidden;

}

.lifeItem i {
	top: 20px;
	left: 20px;
	width: 46px;
	height: 46px;
	background-image: url(../images/iconalls.png);
}

.lifeItem .i1 {
	background-position: -153px -169px;
}
.lifeItem .i2 {
	background-position: -105px -400px;
	
}
.lifeItem .i3 {
	background-position: -153px -251px;
	
}
.lifeItem .i4 {
	background-position: -53px -398px;
	
}
.lifeItem .i5 {
	background-position: 0 -400px;
	
}
.lifeItem .i6 {
	background-position: -107px -171px;

}


.lifeItem h3 {
	top: 80px;
	left: 0;
	width: 86px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
}

.lifeItem span {
	top: 10px;
	left: 86px;
	width: 100px;
	height: 35px;
	font-size: 25px;
	text-align: center;
}

.lifeItem p {
	top: 50px;
	left: 86px;
	width: 135px;
	font-size: 12px;
	line-height: 20px;
	color: #818181;
	vertical-align: middle;

}